APP_NAME=Graphiti Memory Chatbot
APP_VERSION=0.1.0
APP_ENVIRONMENT=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_LOG_LEVEL=INFO

FALKORDB_HOST=localhost
FALKORDB_PORT=6379
FALKORDB_USERNAME=
FALKORDB_PASSWORD=
FALKORDB_GRAPH_NAME=graphiti_memory
FALKORDB_CONNECT_TIMEOUT=3.0
